@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

@font-face {
	font-family: "ProximaNova";
	src: url('ProximaNova-Light.otf') format("opentype");
}

@font-face {
	font-family: "ProximaNova";
	src: url('ProximaNova-Bold.otf') format("opentype");
	font-weight: bold;
}

body {
	font-family: ProximaNova, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: url('../imgs/bgs/dark.jpg') no-repeat center center fixed;
	background-size: cover;
}

.brand-navbar-center {
	margin-top: 22.5px;
	text-align: center;
	font-size: 80px;
	width: 100%;
	float: none;
	text-shadow: 0 -1px #000, 1px 0 #000, 0 1px #000, -1px 0 #000;
}

a {
	color: #007fff !important;
}

a:hover {
	color: #0170DF !important;
}

.image {
	width: 100%;
	/*height: 1200px;*/
	background-repeat: no-repeat;
	/*background-position: center center;*/
	/*background-size: cover;*/
}

.center-text {
	text-align: center;
}

.definition {
	background-color: #D4CDB0 !important;
}

.definition-padding {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

.worse-cell {
	border: 1px solid rgb(230, 230, 230);
	background-color: #D4CDB0 !important;
	height: 100%;
}

.bottom-row {
	padding-bottom: 20px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.jumbotron-opacity {
	opacity: .97;
}

@media screen and (min-width: 408px) {
	.miles {
		font-size: 112px;
	}
	.left-indent {
		margin-left: 100px;
	}
}

@media screen and (max-width: 408px) {
	.miles {
		font-size: 50px;
	}
	.left-indent {
		margin-left: 2px;
	}
}

.miles {
	font-family: Noto Sans;
}

.miles-text {
	font-size: 43px;
}

.kxl {
	font-family: monospace;
	font-size: 350%;
}

.kxl-smaller {
	font-size: 55%;
}

.kxl-even-smaller {
	font-size: 45%;
}

.right-side-of-exp {
	font-size: 350%;
	text-align: left;
}

.worse {
	font-family: monospace;;
	font-size: 42px;
	text-transform: uppercase;
}

.extra {
	display: none;
}

@media screen and (min-width: 10px) {
	.worse {
		font-size: 20px;
	}
	.extra {display: block;}
}

@media screen and (min-width: 390px) {
	.worse {
		font-size: 30px;
	}
	.extra {display: block;}
}

@media screen and (min-width: 420px) {
	.worse {
		font-size: 33px;
	}
	.extra {display: block;}
}

@media screen and (min-width: 540px) {
	.worse {
		font-size: 35px;
	}
	.extra {display: block;}
}

@media screen and (min-width: 540px) {
	.worse {
		font-size: 40px;
	}
	.extra {display: block;}
}

@media screen and (min-width: 1200px) {
	.worse {
		font-size: 45px;
	}
	.extra {
		display: none;
	}
}

.explanation {
	font-size: 90%;
}

.element {
	border: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
}

.indent {
	margin-left: 100px;
}

.kxl-explanation {
	margin-bottom: 200px;
	line-height: 200%;
}

.number {
	font-weight: bolder;
	font-size: 220%;
	/*font-family: monospace;*/
	font-family: Noto Sans;
}

.number-inherit-size {
	font-weight: bolder;
	/*font-family: monospace;*/
	font-family: Noto Sans;
}

.by {
	font-size: 70%;
	text-align: center;
	margin-bottom: -10px;
}

.tooltip-link {
	color: #ecf0f1 !important;
	word-wrap: break-word;
}

.tooltip-link:hover {
	color: #bdc3c7 !important;
}


/*Responsive Video CSS - https://gist.github.com/jgarber/2302238*/

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

.what-are-tar-sands {
	background: url('../imgs/bgs/mud.jpg') no-repeat center center fixed; background-size: cover;
}

.smaller-title {
	 font-size: 240% !important;
}

.explanation-indent {
	margin-left: 35px;
}

.explanation-indent-large {
	margin-left: 55px;
}

.explanation-indent-larger {
	margin-left: 75px;
}