.brand-navbar-center {
	margin-top: 22.5px;
	text-align: center;
	font-size: 80px;
	width: 100%;
	float: none;
}

.image {
	width: 100%;
	height: 1200px;
}

.center-text {
	text-align: center;
}

.definition {
	width: 50%;
	background-color: #D4CDB0 !important;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.jumbotron-opacity {
	opacity: .8;
}

.kxl {
	font-family: monospace;
	font-size: 350%;
}

.kxl-smaller {
	font-size: 50%;
}

.kxl-even-smaller {
	font-size: 35%;
}